body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  padding-left: 16px;
  padding-right: 16px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
}

#user-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

#chat-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2px;
}

main {
  display: flex;
  flex-grow: 1;
  border-radius: 1%;
  background-color: #F7F7F7;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

footer > form {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  height: 100%;
}

footer > form > button {
  border: none;
  background-color: transparent;
}

footer > form > input {
  border: none;
  display: flex;
  flex-grow: 1;
  font-size: 1.2rem;
  background-color: #E5E5E5;
  padding: 16px;
  border-radius: 9px;
}

.mensagem {
  margin-bottom: 10px;
}

.mensagem.usuario {
  text-align: right;
  color: blue;
  background-color: #E5E5E5;
  padding: 16px;
  border-radius: 25px;
  width: fit-content;
  margin-left: auto;
  font-size: 1rem;
  border-bottom-right-radius: 0;
}

.mensagem.gemini {
  text-align: left;
  color: green;
  background-color: #E5E5E5;
  padding: 16px;
  border-radius: 25px;
  width: fit-content;
  max-width: 75%;
  margin-right: auto;
  font-size: 1rem;
  border-bottom-left-radius: 0;
}

#chat-box {
  padding: 6px;
}
