html {
    height: 96%;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #6eb1b1;
    padding-block: 16px;
    padding-inline: 8px;
}

body button {
    display: flex;
    align-self: start;
    background-color: transparent;
    border: none;
}

body button:hover {
    cursor: pointer;
}

#closed-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding-bottom: 16px;
}

#closed-sidebar img {
    width: 64px;
    height: 64px;
}

#nothing {
    display: flex;
    flex-grow: 1;
}

#opened-sidebar {
    display: none;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 16px;
}

#logo-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 64px;
}

#logo-nav img {
    width: 300px;
    margin-right: 16px;
}

#close-sidebar {
    justify-content: center;
    align-items: center;
    height: 100%;
}

#opened-new-chat {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background-color: #d1eeee;
    border-radius: 16px;
}

#new-chat span {
    font-size: 1.2rem;
    font-weight: 700;
}

#chats {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 16px;
    overflow-y: auto;
}

#profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    color: #386269;
    font-size: 1.2rem;
    font-weight: 700;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-inline: 32px;
}

#chat {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #d1eeee;
    border-radius: 16px;
    padding: 16px;
    padding-inline: 32px;
    overflow-y: auto;
    font-size: 1.7rem;
    font-weight: 500;
}

.chat-item {
    display: flex;
    align-items: center;
    background-color: #6eb1b1;
    padding: 16px;
    border-radius: 16px;
    font-size: 1.2rem;
    font-weight: 700;
    width: 100%;
    overflow: hidden;
    color: #fff;
}

.chat-item-active {
    display: flex;
    align-items: center;
    background-color: #386269;
    padding: 16px;
    border-radius: 16px;
    font-size: 1.2rem;
    font-weight: 700;
    width: 100%;
    overflow: hidden;
    color: #fff;
}

.chat-item:hover {
    background-color: #38626969;
}

#no-message {
    max-width: 70%;
    align-self: center;
}

#input {
    display: flex;
    justify-content: center;
    background-color: #6eb1b1;
    padding-block: 16px;
    width: 100%;
    gap: 16px;
    min-height: 9vh;
}

#input input {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 16px;
    font-size: 16px;
    background-color: #b3cfcf;
}

#input input:focus {
    outline: none;
}

#send-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.message {
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 8px;
}

.message.user {
    background-color: #ccc;
    align-self: flex-end;
    border-radius: 16px;
    border-end-end-radius: 0;
    max-width: 90%;
    text-align: justify;
    padding-inline: 16px;
    padding-block: 0;
}

.message.assistant {
    background-color: #ccc;
    align-self: flex-start;
    text-align: justify;
    white-space: pre-wrap;
}

.think-container {
    background-color: #aaa;
    font-size: 1.2rem;
    padding: 8px;
    border-radius: 12px;
}
